!!!
%html
  %head
    %link{:href => "/stylesheets/contact-form.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "noindex, noarchive, noodp, noydir", :name => "robots"}/
  %body
    - if !@errors.empty? || @failure
      .notice.failure= @failure || "Please fill in all the required fields."
    - if @sent == true
      .notice Your message has been sent. Thank you!
    %form.contact-form{:enctype => "multipart/form-data", :method => "post", :id => "contactform"}
      %p.form-field-row
        %span.label
          %label{:for => "name"} Name
        %span.field
          %input#name{:autocomplete => "off", :name => "name", :type => "text", :value => @values[:name]}
            %span.error= @errors[:name]
      %p.form-field-row
        %span.label
          %label{:for => "email"} Email
        %span.field
          %input#email{:name => "email", :type => "text", :value => @values[:email]}
            %span.error= @errors[:email]
      %p.form-field-row
        %span.label
          %label{:for => "message"} Message
        %span.field
          %textarea#message{:cols => "30", :name => "message", :rows => "8"}= @values[:message]
          %span.error= @errors[:message]
      %p.form-field-row.send
        %input#send-button{:name => "send-button", :type => "submit", :value => "Send Message"}